h1{
    padding-top: 100px;
    padding-left: 37%;
    padding-bottom: none;
    margin-bottom: none;
}

table{
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    padding: 20px;
    box-shadow: 1px 1px 3px 0px rgb( 20, 30, 10);


}

body{
    background-color: #F5DEB3;
}